/* common */

body{
	background-color:#FFFFFF;
}

p {
    color: white;
}

.clearfix{
	clear:both;
}

/* wrapper*/

#wrapper{
	max-width:1140px;
	margin:0 auto;
	box-shadow: 0 0 6px 4px black;
}

/* header - logs & text */

#header{
	width:100%;
	height:150px;
	background-color:#585858;
	color:#FFFFFF;
}

#header_book{
	float:left;
	width:60%;
	height:100%;
	background-color:#585858
}
	
.header_text{
	text-align:left;
	font-family:helvetica;
	font-size:32px;
	font-weight:bold;
	padding-left:5%;
	padding-top:5%;
}

#header_a1_logo{
	float:left;
	width:20%;
	height:100%;
	background-color:#585858
}

.header_a1_logo{
	float:left;
	width:100%;
	height:80%;
	margin:1%;
}

#header_adi_logo{
	float:right;
	width:20%;
	height:100%;
	 background-color:#585858
}

.header_adi_logo{
	float:right;
	width:90%;
	height:60%;
	margin: 4% 4% 8% 2%;
}

.adi_no {
	text-decoration:none;
	font-family:helvetica;
	font-size:16px;
	font-weight:bold;
	color:#ffffff;
}

.adi_text{
	margin-left:6%;
}

/* main webpage slideshow */

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: 0%;
  }

#navigation{
	width:100%;
	height: auto;
}
 
/* navigation bar */ 
  
nav {
	width:100%;
	height: auto;
	background-color:#888888;
	color:#ffffff;	
}

nav ul {
	list-style:none;
	margin:0;
	padding-left:50px;
}

nav ul li{
	float:left;
	width:15%;
}

nav ul li a {
	background:#888888;
	display:block;
	padding: 5% 12%;
	font-family:helvetica;
	font-weight:bold;
	font-size:20px;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
}

nav ul li a:hover, nav ul li.active a {
	background-color:#888888;
	color:#000000;
}

/* sidebar ads & slideshow */

#sidebar{
	width:33%;
	height:740px;
	background-color:#b4b3b3;
	float:left;
	margin:0%;
	box-shadow: -4px 2px 4px black;
}

.sidebar_ads1{
	float:left;
	width:80%;
	height:25%;
	margin:5% 10%;
	border:solid;
	color:#064172;
}

.sidebar_ads2{
	float:left;
	width:80%;
	height:25%;
	margin:5% 10%;
	border:solid;
	color:#064172;
}

#slideshow {
	float:left;
	width:59%;
	height:30%; 
	overflow:hidden; 
	list-style:none; 
	padding:0%; 
	margin:5% 10% 5% 20%;
	border:solid;
	color:#064172;
}

/* main page content 
- iframe page contents use main.css for styling */

#main_page{
	width:67%;
	height:740px;
	float:right;
	background-color:#e5e4e4;
	box-shadow: 6px 0 6px -2px black;
}

iframe{
	width:100%;
	height:740px;
	border-color:#e5e4e4;
}

.content{
	color:white;
}

/* footer social media & text */
 
footer {
	width:100%;
	height:auto;
	background-color:#585858;
	font-family:helvetica;
	color:#ffffff;
	float:left;
	box-shadow: 0 0 6px 4px black;
 }
 
 footer a {
	color:#ffffff;
 }
 
 footer a:link { 
    color: #ffffff;
	text-decoration:none;
}
 
 #copyright{
	width:100%;
	padding-top: 2%;
	padding-left: 25%;
 }
 
 .copyright{
	font-size:10px;
	font-family:helvetica;
	font-weight:lighter;
	color:#ffffff;
	text-align:center;
 }
 
 .social-slide {
	height:48px;
	width:48px;
	margin:10px;
	float:right;
	transition:all ease 0.3s;
}

.social-slide:hover{
	background-position:0px -48px;
	box-shadow:0px 0px 4px 1px rgba(0,0,0,0.8);
}

.tweeter-hover{
  background-image:url("../images/tweeter_icon.png");
  }  
  
.facebook-hover{
  background-image:url("../images/facebook_icon.png");
  }

.google-hover{
  background-image:url("../images/google_icon.png");
  }
 
 .linkedin-hover{
  background-image: url("../images/linkedin_icon.png");
  }

  
  
 /*  ------ MEDIA -------  */

@media screen and (max-width: 478px) {
	
	.header_text{
		text-align:left;
		font-family:helvetica;
		font-size:16px;
		font-weight:bold;
		padding-left:5%;
		padding-top:5%;
}
	
	body {
		font-size: 13px;
	}

}

@media screen and (max-width: 740px) {

	.header_text{
		text-align:left;
		font-family:helvetica;
		font-size:20px;
		font-weight:bold;
		padding-left:5%;
		padding-top:5%;
}

	.adi_no {
		text-decoration:none;
		font-family:helvetica;
		font-size:12px;
		font-weight:bold;
		color:#ffffff;
}

	nav {
		width: 100%;
	}
	
	nav ul {
		list-style: none;
		margin: 0 auto;
		padding-left: 0;
	}
	nav ul li {
		text-align: center;
		width: 100%;
	}
	
	nav ul li a {
		padding: 8px 0;
		font-size: 16px;
	}
		
	#sidebar{
		width: 0%;
	}
	
	#main_page {
		width: 100%;
	}
	
}
